body{
  background-color:black;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.semaforo{
  border: 3px solid white;
  height: 160px;
  width: 53px;
  margin-top: 50px;
}
.top{
  height: 50px;
  width: 10px;
  background-color:white;
  margin:auto;
}
.red {
  border-radius: 40%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  height: 50px;
  width: 50px;
  background-color: red;

}
.orange {
 border-radius: 40%;
 border-style: solid;
 border-color: black;
 border-width: 2px;
  height: 50px;
  width: 50px;
  background-color: orange;
}
.green{
  border-radius: 40%;
  border-style: solid;
  border-color:  black;
  border-width: 2px;
  height: 50px;
  width: 50px;
  background-color: green;
}

.picky{
  height: 50px;
  width: 50px;
  border-radius: 40%;
  box-shadow: #f8ffcc 0px 0px 50px 20px;
}